---
    interface Props {
        
    }

    
---

<style>

    ul>li{
        display: flex;
        align-items: center;
        flex-direction: row;
        
    }
</style>
<div class="bg-white h-full w-1/7 px-9 py-10 flex flex-col gap-10 h-screen">
    <img src="/icons/instagram.svg" alt="">
    <ul class="flex flex-col gap-8 text-md">
        <li class="flex gap-4"> <img src="/icons/home.svg" alt=""><a class="font-bold" href="http://localhost:4321/">Inicio</a></li>
        <li class="flex gap-4"> <img src="/icons/search.svg" alt=""><a href="http://localhost:4321/search">Búsqueda</a></li>
        <li class="flex gap-4"> <img src="/icons/explore.svg" alt=""><a href="http://localhost:4321/explore">Explorar</a></li>
        <li class="flex gap-4"> <img src="/icons/reels.svg" alt=""><a href="http://localhost:4321/reels">Reels</a></li>
        <li class="flex gap-4"> <img src="/icons/messages.svg" alt=""><a href="http://localhost:4321/messages">Mensajes</a></li>
        <li class="flex gap-4"> <img src="/icons/notifications.svg" alt=""><a href="http://localhost:4321/notifications">Notificaciones</a></li>
        <li class="flex gap-4"> <img src="/icons/create.svg" alt=""><a href="http://localhost:4321/create">Crear</a></li>
        <li class="flex gap-4"> <img class="rounded-full w-9" src="img/profile.png" alt=""><a href="">Perfil</a></li>
        <a class="flex gap-4 items-center" href=""><img class="w-9" src="img/hamburguesa.png" alt="">Más</a>
    </ul>
</div>
