---
    interface Props {
        
    }

    
---

<style>

    ul>li{
        display: flex;
        align-items: center;
        flex-direction: row;
        
    }
</style>
<div class="bg-slate-200 h-full w-1/6 px-7 py-7 flex flex-col gap-10">
    <img src="/icons/instagram.svg" alt="">
    <ul class="flex flex-col gap-4 text-md">
        <li> <img src="/icons/home.svg" alt=""><a class="font-bold" href="http://localhost:4321/">Inicio</a></li>
        <li> <img src="/icons/search.svg" alt=""><a href="http://localhost:4321/search">Búsqueda</a></li>
        <li> <img src="/icons/explore.svg" alt=""><a href="http://localhost:4321/explore">Explorar</a></li>
        <li> <img src="/icons/reels.svg" alt=""><a href="http://localhost:4321/reels">Reels</a></li>
        <li> <img src="/icons/messages.svg" alt=""><a href="http://localhost:4321/messages">Mensajes</a></li>
        <li> <img src="/icons/notifications.svg" alt=""><a href="http://localhost:4321/notifications">Notificaciones</a></li>
        <li> <img src="/icons/create.svg" alt=""><a href="http://localhost:4321/create">Crear</a></li>
        <li> <img src="" alt=""><a href="">Perfil</a></li>
    </ul>
</div>
