---
import Slider from './Slider.astro';

---
<!-- 

    ¿Que es node?

    Empaquetador JavaScript


    Formas de utilizarlo:

        npm: para instalar librerias/dependencias 
        npx: cargar y usar las librerias/dependencias 

        npm i astro@latest => npx create astro@latest

        npm i tailwindcss => npx astro add tailwindcss

        Alternativas a node:
        bun, vite, pnpm.
-->

<!-- Componentes
    Imports

    Props:
-->

<div class="w-full flex flex-col">
    <div class="w-[90%] mx-auto">
        <Slider/>
    
    </div>
    
    <div class="w-8/12 mx-auto flex flex-col pt-12">
        
        <div class="flex justify-between items-center pb-4">
            <div class="imagenes-h6 flex items-center gap-2">
            <div class="flex gap-3 w-12 h-11 relative">
                <img class="w-8 h-8 rounded-full absolute top-0 left-0" src="img/profile.png" alt="">
                <img class="w-8 h-8 rounded-full absolute bottom-0 right-0" src="https://unavatar.io/github/dlaudh" alt="">
            </div>
            <div class="">
            <h6 class="text-slate-700 font-semibold text-sm"><a href="">futb0l_champagne2.0 y 5 personas más</a><span class="text-gray-500">. 4 h</span></h6>
            <p class="text-xs">Audio original</p>
            </div>
            </div>
            <div class="punto">
                <a href=""><img class="w-6" src="img/puntos.png" alt="3 puntos"></a>
            </div>
        </div>
            <div class=" flex flex-col w-full justify-center">
                <img class="w-full"src="img/instagramPost2.png" alt="Post">
            <ul class="flex gap-2 pt-4">
                <li><a href=""><img src="/icons/notifications.svg" alt="Notificaciones"></a></li>
                <li><a href=""><img class="w-6" src="/icons/comment.svg" alt="comentario"></a></li>
                <li><a href=""><img class="w-6" src="/icons/plane.svg  " alt="enviar"></a></li>
            </ul>            
            <div class="flex items-center gap-4 pt-3 text-sm">
                    <img class="w-4 rounded-full" src="img/profile.png" alt="profile">
                    <p>2795 Me gusta</p>
            </div>
            <div class="text-sm text-gray-500 pt-3 flex flex-col gap-1">
                <p><span class="text-slate-700">futb0l_champagne2</span> La abuela butakera 😂 </p>
                <p>... más</p>
                <p>Ver los 7 comentarios</p>
                <p>Añade un comentario...</p>
            </div>
        </div>
    </div>
</div>


