<div id="controls-carousel" class="relative w-full h-20 mt-2" data-carousel="static">
    <!-- Carousel wrapper -->
    <div class="relative h-24 mt-2 w-full flex mx-auto overflow-hidden rounded-lg">
         <!-- Item 1 -->
        <div class="mt-3" data-carousel-item="active">
            <ul class="flex space-x-2 justify-center items-center">
                <li class="flex flex-col items-center space-y-2">
                    <div class="relative bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="img/profile.png" class=" w-16 rounded-full" alt="...">
                    </a>
                    <button class="absolute bottom-0 right-0 bg-blue-500 text-white font-semibold border-2 border-white flex justify-center items-center font-mono h-5 w-5 rounded-full">+</button>
                    </div>
                    <a href="" class="text-xs">Tu historia</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="https://unavatar.io/github/dlaudh" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">victor</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="https://unavatar.io/github/JoseluisDev24" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">joseluis</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="https://unavatar.io/github/midudev" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">midudev</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="https://unavatar.io/github/freeCodeCamp" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">freeCode</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="https://unavatar.io/github/JoseluisDev24" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">joseluis</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="img/profile.png" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">gonzalo</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="https://unavatar.io/github/dlaudh" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">victor</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="https://unavatar.io/github/JoseluisDev24" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">joseluis</a>
                </li>
            </ul>
        </div>
        <!-- Item 2 -->
        <div class="hidden mt-3" data-carousel-item>
            <ul class="flex space-x-2 justify-center items-center">
                <li class="flex flex-col items-center space-y-2">
                    <div class="relative bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="img/profile.png" class=" w-16 rounded-full" alt="...">
                    </a>
                    <button class="absolute bottom-0 right-0 bg-blue-500 text-white font-semibold border-2 border-white flex justify-center items-center font-mono h-5 w-5 rounded-full">+</button>
                    </div>
                    <a href="" class="text-xs">Tu historia</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="https://unavatar.io/github/dlaudh" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">victor</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="https://unavatar.io/github/JoseluisDev24" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">joseluis</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="https://unavatar.io/github/midudev" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">midudev</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="https://unavatar.io/github/freeCodeCamp" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">freeCode</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="https://unavatar.io/github/JoseluisDev24" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">joseluis</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="img/profile.png" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">gonzalo</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="https://unavatar.io/github/dlaudh" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">victor</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="https://unavatar.io/github/JoseluisDev24" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">joseluis</a>
                </li>
            </ul>
        </div>
        <!-- Item 3 -->
        <div class="hidden mt-3" data-carousel-item>
            <ul class="flex space-x-2 justify-center items-center">
                <li class="flex flex-col items-center space-y-2">
                    <div class="relative bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="img/profile.png" class=" w-16 rounded-full" alt="...">
                    </a>
                    <button class="absolute bottom-0 right-0 bg-blue-500 text-white font-semibold border-2 border-white flex justify-center items-center font-mono h-5 w-5 rounded-full">+</button>
                    </div>
                    <a href="" class="text-xs">Tu historia</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="https://unavatar.io/github/dlaudh" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">victor</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="https://unavatar.io/github/JoseluisDev24" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">joseluis</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="https://unavatar.io/github/midudev" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">midudev</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="https://unavatar.io/github/freeCodeCamp" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">freeCode</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="https://unavatar.io/github/JoseluisDev24" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">joseluis</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="img/profile.png" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">gonzalo</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="https://unavatar.io/github/dlaudh" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">victor</a>
                </li>
                <li class="flex flex-col items-center space-y-2">
                    <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
                    <a class="bg-white block p-1 rounded-full" href="">
                    <img src="https://unavatar.io/github/JoseluisDev24" class=" w-16 rounded-full" alt="...">
                    </a>
                    </div>
                    <a href="" class="text-xs">joseluis</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer " data-carousel-prev>
        <span class="inline-flex items-center justify-center w-6 h-6 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" class="opacity-80" fill="#ffffff" viewBox="0 0 512 512">
            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M512 256A256 256 0 1 0 0 256a256 256 0 1 0 512 0zM271 135c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-87 87 87 87c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L167 273c-9.4-9.4-9.4-24.6 0-33.9L271 135z"/></svg>    
        </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer " data-carousel-next>
        <span class="inline-flex items-center justify-center w-6 h-6 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" viewBox="0 0 512 512">
            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM241 377c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l87-87-87-87c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L345 239c9.4 9.4 9.4 24.6 0 33.9L241 377z"/></svg>
        </span>
    </button>
</div>  