---
import User from "./User.astro";
---

<div class="flex flex-col">
  

  <div class="w-[250px] mx-16">
    <User avatar="https://unavatar.io/github/GonzaloRosano" username="gonzalo_rosano-yt" name="Gonzalo Rosano" opcion/>


  <ul>

  <li class="text-sm flex pt-10 justify-between align-middle">
    <p class="text-gray-500 font-semibold">Sugerencias para ti</p>
    <a href="">Ver todo</a>
  </li>
  <li><User avatar="https://unavatar.io/github/dlaudh" username="victor_rosano" name="Victor Rosano" opcion={false}/></li>
  <li><User avatar="https://unavatar.io/github/JoseluisDev24" username="joseluis_rosano" name="Joseluis Rosano" opcion={false}/></li>
  <li><User avatar="https://unavatar.io/github/GonzaloRosano" username="GonzaloRosano" name="Gonzalo Rosano" opcion={false}/></li>
  <li><User avatar="https://unavatar.io/github/GonzaloRosano" username="GonzaloRosano" name="Gonzalo Rosano" opcion={false}/></li>
  </ul>
  </div>


  </div>
