---
    interface Props{
        avatar: string;
        username: string;
        name: string;
        opcion: boolean;
    }
    const { avatar, username, name, opcion } = Astro.props; 
---
<div class="flex w-3/12 h-20 bg-white">
    <div class="flex items-center justify-between gap-6 p-4">
        <img class="rounded-full w-14" src=`${avatar}` alt="">
     <div class="text flex-col">
        <h5 class="font-bold ">{username}</h5>
        <p>{name}</p>
     </div>
    
     <a class="text-cyan-700 font-bold ite" href="">
        { opcion ? "Cambiar" : "Seguir" }
    </a>
    </div>
</div>