---
    interface Props{
        avatar: string;
        username: string;
        name: string;
        opcion: boolean;
    }
    const { avatar, username, name, opcion } = Astro.props; 

---
<div class="flex h-20 pt-10 w-[250px] mx-auto items-center justify-between ">
    <div class="flex items-center w-full gap-6">
        <img class="rounded-full w-11" src=`${avatar}` alt="">
     <div class="text-sm flex-col">
        <h5 class="font-bold ">{username}</h5>
        <p class="text-gray-500 font-semibold">{name}</p>
     </div>
    
     
    </div>
    <a class="text-cyan-700 text-xs font-bold ite" href="">
        { opcion ? "Cambiar" : "Seguir" }
    </a>
</div>

