<div class="flex w-3/12 h-20 bg-white">
    <div class="flex items-center justify-between gap-6 p-4">
        <img class="rounded-full w-14" src="/img/profile.png" alt="">
     <div class="text flex-col">
        <h5 class="font-bold ">gonzalo_rosano_yt</h5>
        <p>Gonzalo Rosano</p>
     </div>
        <a class="text-cyan-700 font-bold ite" href="">Cambiar</a>
    </div>
</div>